html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 📰 Publisher
    link(rel='stylesheet' href='/styles.css')
    link(rel='stylesheet' href=`${demoHomeUrl}/shared.styles-browser-setup.css`)
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    style.
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  body
    div#setup-issues-banner(style="display:none") Make sure to follow the 
        a(href=`${demoHomeUrl}#browser-setup`) browser setup instructions
        | .
        div#setup-issues-list
    header
        div.main
            h1 📰 Publisher site 
            div
                nav.menu
                    div 
                        div.ads-list-instructions 
                            strong Choose how the ad should be included in the article:
                        div.ads-list 
                            div 
                                |Ad that registers clicks:
                                |<br><br> with an 
                                a(href='/click-element') HTML element 
                                    code a
                                |<br>with 
                                a(href='/click-js') JS  
                            div 
                                |Ad that registers views:
                                |<br><br>with an 
                                a(href='/view-element-img') HTML element 
                                    code img
                            div
                                a(href='/') No ad
    div.main.mainContentWrapper
        block content
    block foot
        #footer
            div 
                a(href=demoHomeUrl) Demo homepage
                | ・
                span Publisher site
                | ・
                a(href=advertiserUrl) Advertiser site
                | ・
                a(href=adtechUrl) Adtech site
            div
                a(href="https://goo.gle/sppi-devrel-eventlevel" target="_blank") Deployed demo
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/attribution-reporting" target="_blank") Code
    script(type="text/javascript" src=`${demoHomeUrl}/shared.browser-setup.js`)
    script(type="text/javascript" src=`${demoHomeUrl}/shared.highlight-current-link.js`)
    script.
        document.onreadystatechange = function () {
            if (document.querySelector('.loading')) {
                if (document.readyState !== 'complete') {
                document.querySelector('.loading').style.visibility = 'visible'
                } else {
                document.querySelector('.loading').style.display = 'none'
                }
            }
        }
