doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "font-size": "12px", "background": "#f6d7ff", "cursor": "pointer"})

div Ad (click source with an `a` element)
span ID: 
span(id="adid")
a(id="ad" 
href=href 
attributiondestination=attributiondestination 
attributionsourceeventid=`${Math.floor(Math.random() * 1000000000000000)}` attributionreportto=attributionreportto 
attributionexpiry='864000000' 
attributionsourcepriority=0 
registerattributionsource
target='_blank')
  img(width='180' src='/shoes07.png' alt='shoes 07')

script.
  const adEl = document.getElementById('ad');
  // prio
  adEl.addEventListener("click", () => {
    // before click: attributionsourcepriority = 0
    adEl.setAttribute("attributionsourcepriority", 1);
  });
  // after click: attributionsourcepriority = 1 (clicked)


  
