doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#ffe2e3"})
| Ad
// 864000000 = 10 days in milliseconds
a#ad(href=href conversiondestination=conversiondestination impressiondata='' reportingorigin=reportingorigin impressionexpiry='864000000' target='_parent')
  img(width='180' src='/shoes07.png' alt='shoes 07')
script.
  const toHex = (value) => value.toString(16)
  function getRandom64BitsIntegerAsHex() {
    const randomInts = new Uint32Array(2);
    window.crypto.getRandomValues(randomInts)
    return `${toHex(randomInts[0])}${toHex(randomInts[1])}`
  }
  const adLink = document.getElementById('ad')
  adLink.setAttribute(
    'impressiondata',
    getRandom64BitsIntegerAsHex()
  )