doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
  meta(http-equiv='origin-trial' content='AtTdKEyoR36feabw1jjakk4VqJoLcau4IXv9g+abDP8Q5Sbuo22TZ4uzHqzoW5NwEDr5ZgRgqMzOSPy/wsEnRgYAAAB+eyJvcmlnaW4iOiJodHRwczovL2FkdGVjaC1kb3QtcGVhY29jay1kZW1vLTI4MzgyMi5udy5yLmFwcHNwb3QuY29tOjQ0MyIsImZlYXR1cmUiOiJDb252ZXJzaW9uTWVhc3VyZW1lbnQiLCJleHBpcnkiOjE2MDQ5MjU4MTd9')
body(style={"font-family": "sans-serif", "background": "#ffe2e3"})
| Ad
// 864000000 = 10 days in milliseconds
a#ad(href=href conversiondestination=conversiondestination impressiondata='' reportingorigin=reportingorigin impressionexpiry='864000000' target='_blank')
  img(width='180' src='/shoes07.png' alt='shoes 07')
script.
  const toHex = (value) => value.toString(16)
  function getRandom64BitsIntegerAsHex() {
    const randomInts = new Uint32Array(2);
    window.crypto.getRandomValues(randomInts)
    return `${toHex(randomInts[0])}${toHex(randomInts[1])}`
  }
  const adLink = document.getElementById('ad')
  adLink.setAttribute(
    'impressiondata',
    getRandom64BitsIntegerAsHex()
  )