doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif"})
| Ad
// 864000000 = 10 days in milliseconds
a#ad(href=href conversiondestination=conversiondestination impressiondata='' reportingorigin=reportingorigin impressionexpiry='864000000' target='_parent')
  img(width='200' src='/shoes07.jpg' alt='shoes 07')
script.
  function getRandom64BitsIntegerAsHex() {
    const randomInts = new Uint32Array(2);
    window.crypto.getRandomValues(randomInts)
    return `${randomInts[0].toString(16)}${randomInts[1].toString(16)}`
  }
  const adLink = document.getElementById('ad')
  adLink.setAttribute(
  'impressiondata',
  getRandom64BitsIntegerAsHex()
  )