html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 👟 Advertiser
    link(rel='stylesheet' href='/styles.css')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
    link(rel='stylesheet' href=`${demoHomeUrl}/shared.styles-browser-setup.css`)
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    style.
        @import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,500&display=swap');
  body
    div#notSupportedBanner(style="display:none") Make sure to follow the 
        a(href=`${demoHomeUrl}#browser-setup`) browser setup instructions
        | . 
    header
        div.main
            h1 👟 Advertiser site
            div
                nav.menu
                    div 
                        a(href='/') Home
                    div
                        strong Choose a way to convert:
                        div.conversion-list
                            div.conversion-list-section-1
                                div 
                                    a(href='/blue-shoes') Visit product page: shoes* 
                                    div.trigger
                                        code trigger_data=3 (clicks)
                                        br
                                        code trigger_data=0 (views)
                                div 
                                    a(href='/add-to-cart') Add product to cart*
                                    div.trigger
                                        code trigger_data=2 (clicks)
                                        br
                                        code trigger_data=0 (views)
                                div 
                                    a(href='/checkout' class='checkout') Complete checkout**
                                    div.trigger
                                        code trigger_data=1 (clicks)
                                        br
                                        code trigger_data=1 (views)
                            div.conversion-list-section-2
                                div 
                                    a(href='/signup-newsletter') Sign up for special offers*
                                    div.trigger
                                        code trigger_data=4 (clicks)
                                        br
                                        code trigger_data=0 (views)
                                div 
                                    a(href='/t-shirt') Visit product page: T-Shirt* 
                                    div.trigger
                                        code trigger_data=3 (clicks)
                                        br
                                        code trigger_data=0 (views)
                                div 
                                    div * = We've set up this conversion to generate event-level reports only.
                                    div ** = We've set up this conversion to generate event-level reports AND aggregatable reports.
                    div 
                        a#settings(href='/settings') Demo Settings ⚙️ 
    div.main.mainContentWrapper
        block content
    block foot
        #footer
            div 
                a(href=demoHomeUrl) Demo homepage
                | ・
                a(href=publisherUrl) Publisher site
                | ・
                span Advertiser site
                | ・
                a(href=adtechUrl) Adtech site
            div
                a(href="https://goo.gle/sppi-devrel-eventlevel" target="_blank") Deployed demo
                | ・
                a(href="https://github.com/GoogleChromeLabs/trust-safety-demo/tree/main/conversion-measurement" target="_blank") Code
    script(type="text/javascript" src=`${demoHomeUrl}/shared.browser-setup.js`)
    script(type="text/javascript" src=`${demoHomeUrl}/shared.highlight-current-link.js`)

